body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.section-style-1 {
    display: flex;
    padding-bottom: 30px;
}

.section-style-2 {
    display: flex;
    padding-bottom: 30px;
}

#experience-1 {
    margin-left: 150px;
    margin-right: 75px;
    padding: 50px 100px;
    box-shadow: 20px 20px 30px gray;
    border-radius: 20px;
    border-left: 5px solid blue;
}

#experience-2 {
    margin-left: 75px;
    margin-right: 150px;
    padding: 50px 100px;
    box-shadow: 20px 20px 30px gray;
    border-radius: 20px;
    border-left: 5px solid tomato;
}

#first-text {
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width {
    width: 50%;
    margin-top: 30px;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

#header-banner {
    background-image: url(images/header-banner.jpg);
    background-repeat: no-repeat;
}

#side-image-2 {
    background-image: url(images/side-image-2.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
}

#side-image-1 {
    background-image: url(images/side-image-1.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: bottom;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 20px 20px 30px gray;
}