body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

#first-text {
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width {
    width: 50%;
    margin-top: 30px;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.header-banner {
    background-image: url(images/header-banner.jpg);
    background-repeat: no-repeat;
}

.side-image-2 {
    background-image: url(images/side-image-2.jpg);
    background-repeat: no-repeat;
    background-position: right;
}